@model IEnumerable<DvhLesson10.Models.Categroy>

@{
    ViewData["Title"] = "Danh muc loai";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="DvhCreate" class="btn btn-primary"> Them moi</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CateId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CateStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CateId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CateName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CateStatus)
                </td>
                <td>
                    @if (item.CateStatus == true)
                    {
                        <text> Hien thi</text>
                    }
                    else
                    {
                        <text>Tam khoa</text>
                    }

            </td>
            <td>
                <a asp-action="DvhEdit" asp-route-dvhid="@item.CateId">Edit</a> |
                <a asp-action="DvhDetails" asp-route-dvhid="@item.CateId">Details</a> |
                <a asp-action="DvhDelete" asp-route-dvhid="@item.CateId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
